{% extends "_global/index.html" %}

{% block textHome %}
    <div class="container-fluid text-center home-page">
        <h1 class="home-page-heading">O našem foto studiju</h1>

        <div class="home-page-text">
            <p>Bez obzira na najezdu digitalnih fotoaparata i slika koje se gomilaju bez reda i rasporeda u neograničenoj memoriji kompjutera i DVD-a, svakih nekoliko meseci odaberite za razvijanje desetak fotografija koje ćete sačuvati u svoju riznicu uspomena u našoj foto radnji u Beogradu. To ne mora da bude samo običan foto-album sa fotografijama i njihovim opisom, možete krerati Photo book ili Wedding book. Knjigu koji čine fotografije sa venčanja. Ili taj arhiv može da se nalazi na zidu dnevnog boravka kako bi svaki posetilac mogao na trenutak da otplovi u delić vaše prošlosti. Za koju deceniju i sami ćete moći da uđete u vremensku kapsulu i sa setom, ali i osmehom, posetite mlađe dane.</p>
        </div>

        <div class="home-page-text">
            <p>Foto-album, dnevnik ili spomenar, porodična istorija, umetničko delo, ovakve uspomene projektuju vaš smisao života na pristupačan i ličan način. One su najvažniji i zabeleženi memoari za buduće naraštaje, više srodni umetničkom delu nego običnom foto-albumu. Zato je bitno da znate da je stvaranje albuma s uspomenama kreativan je proces kao stvaranje knjige. Vaš Foto Studio Art Digital – najbolja foto radnja u Beogradu.</p>
        </div>
        <div class="form-group col-md-12 big-buttons">
            <a role="button" class="btn btn-outline-primary col-md-4 big-button" href="{{ BASE }}user/register">
                Registruj se
            </a>
            <a role="button" class="btn btn-outline-primary col-md-4 offset-md-1 big-button" href="{{ BASE }}user/login">
                Prijavi se
            </a>
        </div>
    </div>
{% endblock %}